@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

.image-container {
  position: relative;
}

.image-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Puedes ajustar el color y la opacidad */
}

.text-animation {
  font-family: 'Bagel Fat One', cursive;
  position: absolute;
  top: -100px; /* Posición inicial fuera de la pantalla */
  left: 50%;
  transform: translateX(-50%);
  color: #fff; /* Color del texto */
  font-size: 24px; /* Tamaño de fuente del texto */
  animation: slide-in 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards; /* Duración y tipo de animación */
}

@keyframes slide-in {
  0% {
    top: -10px; /* Posición inicial fuera de la pantalla */
  }
  100% {
    top: 65%; /* Posición final centrada verticalmente */
  }
}

button {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); /* Puedes ajustar el color y la opacidad */
  opacity: 0; /* El botón estará invisible al principio */
  animation: fade-in 1s ease-in-out 4s forwards; /* Duración y tipo de animación */
  border: none;
  border-radius: 50px; /* Bordes redondos */
  padding: 10px 20px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

@keyframes fade-in {
  0% {
    opacity: 0; /* El botón invisible al inicio de la animación */
    transform: translate(-50%, -50%) scale(0.8); /* Escala más pequeña */
  }
  100% {
    opacity: 1; /* El botón completamente visible al final de la animación */
    transform: translate(-50%, -50%) scale(1); /* Escala normal */
  }
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Color de fondo al pasar el cursor sobre el botón */
}
